<h1 class="page-title">Réinitialisation mot de passe</h1>

<div *ngIf="sendingRequest">
  <app-loading></app-loading>
</div>


<!-- Success message-->
<div *ngIf="successMessage"
     class=" alert alert-success ">
  Votre mot de passe a été réinitialisé.<br>
  Vous pouvez vous connecter à votre compte avec votre nouveau mot de passe"

  <div class="text-center p-3">
    <button
      class="btn btn-primary"
      routerLink="/connexion"
    >Connexion
    </button>
  </div>

</div>


<!-- invalid token message-->
<div *ngIf="missingToken || invalidToken && !sendingRequest"
     class="alert alert-secondary">
  Le lien utilisé est expiré ou a déjà été utilisé.

</div>

<!-- password reset email -->

<div *ngIf="missingToken || invalidToken && !sendingRequest">

  <h2 class="page-subtitle">Obtenir un nouveau lien ?</h2>
  <div *ngIf="passwordResetEmailSuccess"
       class="alert alert-success">
    Si vous avez un compte associé à cette adresse mail, vous recevrez bientôt
    un lien vous permettant de réinitialiser votre mot de passe. <br>
    Si vous ne trouverez pas le mail, vérifiez aussi le dossier des courriers indésirables/spam
  </div>

  <div
    *ngIf="passwordResetEmailInvalidRequest || passwordResetEmailUnattendedException || passwordResetEmailMessageException"
    class="exception-message">
    Une exception inattendue est survenue.<br>
    Vous pouvez contacter les administrateurs du site si le problème persiste
  </div>


  <form
    [formGroup]="passwordResetEmailForm"
    (ngSubmit)="onPasswordResetFormSubmit()">

    <div class="form-group">

      <label for="resetEmail">Adresse mail</label>

      <div class="input-group">
        <input
          formControlName="resetEmail"
          type="email"
          class="form-control"
          id="resetEmail"
          placeholder="Votre adresse mail">
        <span class="input-group-append input-group-text">
     <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>


      </div>

      <div *ngIf="resetEmail.touched && resetEmail.invalid " class="alert alert-info">
        <div *ngIf="resetEmail.errors.required">Merci de saisir votre adresse mail</div>
        <div *ngIf="resetEmail.errors.email">Merci de saisir une adresse mail valide</div>
      </div>

    </div>


    <div class="text-center p-3">
      <button
        [title]="!passwordResetEmailForm.valid ? 'Formulaire incomplet' : ''"
        type="submit"
        class="btn btn-primary"
        [disabled]="!passwordResetEmailForm.valid">
        Valider
      </button>
    </div>

  </form>

</div>
<!-- password reset email end -->


<div *ngIf="(unattendedException || invalidRequest) && ! sendingRequest"
     class=" alert alert-secondary">
  Une exception inattendue est survenue.<br>
  Vous pouvez contacter les administrateurs du site si le problème persiste
</div>


<!-- reset password form begining-->
<form [formGroup]="form"
      (ngSubmit)="onFormSubmit()"
      *ngIf="
      !successMessage
      &&!invalidRequest
      &&!missingToken
      && !invalidToken
      &&!sendingRequest">


  <!-- password -->
  <div class="form-group">
    <label for="password">Mot de passe</label>

    <div class="input-group">

      <input
        (keyup)="checkPasswordMatching()"
        formControlName="password"
        [type]="passwordTextInput ? 'text' : 'password'"
        class="form-control"
        id="password"
        placeholder="Votre mot de passe">

      <span class="input-group-append input-group-text"
            (click)="togglePasswordTextInput()">
      <i
        class="fa"
        [ngClass]="{
          'fa-eye-slash': !passwordTextInput,
          'fa-eye': passwordTextInput
        }"
      ></i>
    </span>
    </div>

    <div *ngIf="password.touched && password.invalid " class="alert alert-info">

      <div *ngIf="password.errors.required">Merci de saisir le mot de passe.</div>

      <div *ngIf="password.errors.minlength">Le mot de passe doit avoir
        minimum {{password.errors.minlength.requiredLength}} caractères
      </div>

      <div *ngIf="password.errors.maxlength">Le mot de passe peut avoir
        maximum {{password.errors.maxlength.requiredLength}} caractères
      </div>

    </div>

  </div>

  <!-- passwordConfirmation -->
  <div class="form-group">
    <label for="passwordConfirmation">Confirmation mot de passe</label>

    <div class="input-group">

      <input
        (keyup)="checkPasswordMatching()"
        formControlName="passwordConfirmation"
        [type]="passwordConfirmationTextInput ? 'text' : 'password'"
        class="form-control"
        id="passwordConfirmation"
        placeholder="Confirmation mot de passe"
      >

      <span class="input-group-append input-group-text"
            (click)="togglePasswordConfirmationTextInput()">
      <i
        class="fa"
        [ngClass]="{
          'fa-eye-slash': !passwordConfirmationTextInput,
          'fa-eye': passwordConfirmationTextInput
        }"
      ></i>
    </span>
    </div>

    <div *ngIf="passwordConfirmation.touched && passwordConfirmation.invalid " class="alert alert-info">

      <div *ngIf="passwordConfirmation.errors.required">Merci de confirmer votre mot de passe.</div>

      <div *ngIf="passwordConfirmation.errors.minlength">Le mot de passe doit avoir
        minimum {{passwordConfirmation.errors.minlength.requiredLength}} caractères
      </div>

      <div *ngIf="passwordConfirmation.errors.maxlength">Le mot de passe peut avoir
        maximum {{passwordConfirmation.errors.maxlength.requiredLength}} caractères
      </div>

    </div>

    <div *ngIf="passwordMismatch"
         class="alert alert-info">Les deux mots de passe ne sont pas les mêmes
    </div>
  </div>


  <!-- submit button -->
  <div class="text-center">
    <button
      [title]="!form.valid ? 'Formulaire incomplet' : ''"

      type="submit"
      class="btn btn-primary submit-btn"
      [disabled]="!form.valid
            || passwordMismatch">
      Valider
    </button>

  </div>

</form>

<!-- reset password form end-->

<div class="text-left ml-0 mt-3 mb-3"
     *ngIf="!sendingRequest && !successMessage">

  <button
    class="btn btn-secondary "
    routerLink="/connexion">Connexion
  </button>

</div>


