<h2 class="page-subtitle">Modification adresse mail</h2>


<div *ngIf="sendingRequest" class="d-block">
  <i class="fas fa-spinner fa-spin fa-3x"></i>
</div>

<div *ngIf="success"
     class=" alert alert-success mail-modification"
>Modification réussie. Vous recevrez un lien de validation
  sur votre nouvelle adresse mail. A bientôt
</div>


<div *ngIf="sendingMailException"
     class=" alert alert-success mail-modification"
>Modification réussie. Toutefois l'envoi d'un mail avec un lien de validation n'a pas abouti.
  <br>Vous pouvez demander un lien de validation en vous connectant avec votre nouvelle adresse mail
</div>


<div *ngIf="sameEmail"
     class="alert alert-secondary mail-modification">
  Vous utilisez déjà cette adresse mail
</div>

<div *ngIf="unauthorised || unattendedException"
     class="alert alert-secondary mail-modification">
  Une erreur inattendue est survenue. Si l'erreur persiste,
  vous pouvez contacter les administrateurs du site.
</div>


<div *ngIf="incorrectPassword"
     class="alert alert-secondary mail-modification">
  Le mot de passe fourni n'est correct
</div>


<div *ngIf="emailNotAvailable || emailAlreadyOwned"
     class="alert alert-secondary mail-modification">
  La nouvelle adresse mail est invalide ou elle n'est pas disponible.
  <br>
  Vous pouvez continuer à utiliser votre adresse mail actuelle
</div>


<!-- modify email form begining-->
<form [formGroup]="form"
      *ngIf="!success"
      (ngSubmit)="onFormSubmit()">


  <!-- password input -->
  <div class="form-group">
    <label for="password">Mot de passe</label>

    <div class="input-group">

      <input
        formControlName="password"
        [type]="passwordTextInput ? 'text' : 'password'"
        class="form-control"
        id="password"
        placeholder="Votre mot de passe">

      <span class="input-group-append input-group-text"
            (click)="togglePasswordTextInput()">
      <i
        class="fa"
        [ngClass]="{
          'fa-eye-slash': !passwordTextInput,
          'fa-eye': passwordTextInput
        }"
      ></i>
    </span>
    </div>

    <div *ngIf="password.touched && password.invalid " class="alert alert-info">

      <div *ngIf="password.errors.required">Merci de saisir le mot de passe.</div>

      <div *ngIf="password.errors.minlength">Le mot de passe doit avoir
        minimum {{password.errors.minlength.requiredLength}} caractères
      </div>

      <div *ngIf="password.errors.maxlength">Le mot de passe peut avoir
        maximum {{password.errors.maxlength.requiredLength}} caractères
      </div>

    </div>

  </div>


  <!-- new email input-->
  <div class="form-group">
    <label for="newEmail">Nouvelle adresse mail</label>

    <div class="input-group">
      <input
        (ngModelChange)="updateFormValid()"
        formControlName="newEmail"
        type="newEmail"
        class="form-control"
        id="newEmail"
        aria-describedby="emailHelp"
        placeholder="Votre nouvelle adresse mail">
      <span class="input-group-append input-group-text">
     <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
    </div>
    <small id="emailHelp"
           class="form-text text-muted">
      Votre adresse mail ne sera pas partagée.</small>

    <div *ngIf="newEmail.touched && newEmail.invalid " class="alert alert-info">

      <div *ngIf="newEmail.errors.required">Merci de saisir votre nouvelle adresse mail</div>

      <div *ngIf="newEmail.errors.email">Merci de saisir une adresse mail valide</div>

    </div>

    <div class="alert alert-info" *ngIf="emailMismatch">
      Les deux addresses mail ne sont pas les mêmes
    </div>

  </div>


  <!-- new email confirmation input-->
  <div class="form-group">
    <label for="newEmailConfirmation">Nouvelle adresse mail</label>

    <div class="input-group">
      <input
        (ngModelChange)="updateFormValid()"
        formControlName="newEmailConfirmation"
        type="email"
        class="form-control"
        id="newEmailConfirmation"
        aria-describedby="emailHelp"
        placeholder="Votre nouvelle adresse mail">
      <span class="input-group-append input-group-text">
     <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
    </div>

    <div *ngIf="newEmailConfirmation.touched && newEmailConfirmation.invalid " class="alert alert-info">

      <div *ngIf="newEmailConfirmation.errors.required">Merci de confirmer votre nouvelle adresse mail</div>

      <div *ngIf="newEmailConfirmation.errors.email">Merci de saisir une adresse mail valide</div>

    </div>

    <div class="alert alert-info" *ngIf="emailMismatch">
      Les deux addresses mail ne sont pas les mêmes
    </div>

  </div>


  <!-- submit button -->
  <div class="text-center">
    <button
      [title]="!form.valid ? 'Formulaire incomplet' : ''"

      type="submit"
      class="btn btn-primary submit-btn"
      [disabled]="!form.valid || sameEmail || emailMismatch">
      Valider
    </button>

  </div>

</form>
