


<h2 class="page-subtitle">Modification informations personnelles</h2>


<div *ngIf="sendingRequest" class="d-block">
  <i class="fas fa-spinner fa-spin fa-3x"></i>
</div>

<div *ngIf="success"
     class=" alert alert-success"
>Modification réussie
</div>


<div *ngIf="unauthorised || unattendedException"
     class="alert alert-secondary">
  Une exception inattendue est survenue.
  Si le problème persiste, vous pouvez contacter les administrateurs du site
</div>


<!--  form beginning-->
<form [formGroup]="form"
      *ngIf="!sendingRequest && ! success"
      (ngSubmit)="onFormSubmit()">

  <!-- pseudo input-->
  <div class="form-group">
    <label for="pseudo">Pseudo</label>

    <input
      (ngModelChange)="actualisePseudoAvailability()"
      id="pseudo"
      formControlName="pseudo"
      class="form-control"
      placeholder="Votre pseudo">

    <div *ngIf="pseudo.touched && pseudo.invalid" class="alert alert-info">

      <div *ngIf="pseudo.errors.required">Merci de saisir votre pseudo</div>

      <div *ngIf="pseudo.errors.pseudoMaxLength">
        Le pseudo peut avoir maximum {{pseudo.errors.pseudoMaxLength.customPseudoMaxLength}} caractères
        Le pseudo peut avoir maximum {{pseudo.errors.pseudoMaxLength.customPseudoMaxLength}} caractères
      </div>

      <div *ngIf="pseudo.errors.pseudoMinLength && !pseudo.errors.required">
        Le pseudo doit avoir minimum {{pseudo.errors.pseudoMinLength.customPseudoMinLength}} caractères
      </div>

      <div *ngIf="pseudo.errors.pattern">
        Le pseudo peut doit commencer par minimum 1 lettre et peut contenir des lettres sans accents <br>
        et des chiffres, séparés par une seule instance de -, . ou _ <br>
        exemples jean.jean, the_pseudo, pseudo-pse22
      </div>

    </div>

    <div *ngIf="unavailablePseudo"
         class="alert alert-info">Le pseudo '{{pseudo?.value}}' n'est pas disponible
    </div>

  </div>

  <!-- lastName input-->
  <div class="form-group">
    <label for="lastName">Nom</label>

    <input
      id="lastName"
      formControlName="lastName"
      (ngModelChange)="actualiseFormValid()"
      class="form-control"
      placeholder="Votre nom">

    <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-info">

      <div *ngIf="lastName.errors.required">Merci de saisir votre nom</div>

      <div *ngIf="lastName.errors.firstOrLastNameMaxLength">
        Le nom peut avoir maximum {{lastName.errors.firstOrLastNameMaxLength.customFirstOrLastNameMaxLength}} caractères
      </div>

      <div *ngIf="lastName.errors.firstOrLastNameMinLength && ! lastName.errors.required">
        Le nom doit avoir minimum {{lastName.errors.firstOrLastNameMinLength.customFirstOrLastNamMinLength}} caractères
      </div>

      <div *ngIf="lastName.errors.pattern">
        Votre nom peut contenir seulement des mots composés par des lettres, <br>
        séparés par UN SEUL apostrophe ( ' ), par UN SEUL trait d'union ( - ) ou par des espaces<br>
        exemples: François, Da Silva, D'Artagnan, Marie-Pierre
      </div>

    </div>

  </div>

  <!-- firstName input-->
  <div class="form-group">
    <label for="firstName">Prénom</label>

    <input
      id="firstName"
      formControlName="firstName"
      (ngModelChange)="actualiseFormValid()"
      class="form-control"
      placeholder="Votre prénom">

    <div *ngIf="firstName.touched && firstName.invalid" class="alert alert-info">

      <div *ngIf="firstName.errors.required">Merci de saisir votre prénom</div>

      <div *ngIf="firstName.errors.firstOrLastNameMaxLength">
        Le prénom peut avoir maximum {{firstName.errors.firstOrLastNameMaxLength.customFirstOrLastNameMaxLength}}
        caractères
      </div>

      <div *ngIf="firstName.errors.firstOrLastNameMinLength && !firstName.errors.required">
        Le prénom doit avoir minimum {{firstName.errors.firstOrLastNameMinLength.customFirstOrLastNamMinLength}}
        caractères
      </div>

      <div *ngIf="firstName.errors.pattern">
        Votre prénom peut contenir seulement des mots composés par des lettres, <br>
        séparés par UN SEUL apostrophe ( ' ), par UN SEUL trait d'union ( - ) ou par des espaces<br>
        exemples: François, Da Silva, D'Artagnan, Marie-Pierre
      </div>

    </div>

  </div>


  <!-- getNewsletter input -->
  <label for="getNewsletter">Newsletter</label>
  <select class="form-control"
          id="getNewsletter"
          (ngModelChange)="actualiseFormValid()"
          formControlName="getNewsletter">
    <option value="true">S'abonner à la newsletter</option>
    <option value="false">Ne pas s'abonner à la newsletter</option>
  </select>


  <!-- submit button -->
  <div class="text-center m-3">
    <button
      [title]="!form.valid ? 'Formulaire incomplet' : ''"

      type="submit"
      class="btn btn-primary submit-btn"
      [disabled]="!form.valid || unavailablePseudo || unchangedForm">
      Valider
    </button>

  </div>

</form>

<!-- signup form end-->



