<!-- Sorting component beginning -->

<div class="card sort-card"
     [hidden]="!formLoaded">

  <!-- On click show or hide the form-->
  <div class="card-header sort-card-header">
    <a (click)="onClickDisplayForm()"
       [textContent]="displayForm ? 'Cacher tri': 'Afficher tri'"></a>
  </div>


  <div class="card-body"
       [hidden]=" !displayForm">

    <!-- sort form beginning -->

    <form (ngSubmit)="onSubmit() "
          [formGroup]="form"
          class="">

      <div class="form-row">

        <!-- type input -->
        <div class="col form-col">
          <label for="type" class="sort-form-label">Type</label>
          <select
            id="type"
            class="form-control sort-form-select"
            name="Type Article"
            formControlName="type">
            <option></option>
            <option
              class="sort-form-option"
              role="option"
              *ngFor="let type  of typeSorters"
              [ngValue]="type">
              {{type?.title}} ({{type?.totalPublishedWebContents}})
            </option>
          </select>
        </div>


        <!-- category input -->
        <div class="col form-col">
          <label for="cat" class="sort-form-label">Catégorie</label>
          <select
            id="cat"
            class="form-control  sort-form-select"
            name="Catégorie Article"
            formControlName="category">
            <option></option>
            <option
              class="sort-form-option"
              *ngFor="let cat  of categorySorters"
              [ngValue]="cat">
              {{cat?.title}} ({{cat?.totalPublishedWebContents}})
            </option>
          </select>
        </div>


        <!-- editor input -->
        <div class="col form-col">
          <label for="user" class="sort-form-label">Éditeur</label>
          <select
            id="user"
            class="form-control sort-form-select"
            name="Éditeur"
            formControlName="user">
            <option id=""></option>
            <option
              class="sort-form-option"
              *ngFor="let user  of editors"
              [ngValue]="user">
              {{user?.pseudo}} ({{user?.totalPublishedWebContents}})
            </option>
          </select>
        </div>

        <!-- sort input -->
        <div class="col form-col">
          <label for="sort" class="sort-form-label">Trier</label>
          <select
            id="sort"
            class="form-control sort-form-select"
            name="Tri"
            formControlName="sort">
            <option
              class="sort-form-option"
              *ngFor="let sort  of orderSorters"
              [ngValue]="sort">
              {{sort?.title}}</option>
          </select>
        </div>

        <div class="col form-col">
          <button id="button" class="btn btn-info sort-form-btn" type="submit">GO</button>
        </div>

      </div>

    </form>

    <!-- sort Form end-->
    <div *ngIf="formMessage" class="alert alert-secondary float-right">{{formMessage}}</div>

  </div>


</div>
