
.sort-card {
  background-color: white !important;
  border: none !important;
}

.sort-card-header {
  background-color: white !important;
  border: none !important;
}

.sort-card-header a {
  color: #48A9E6;
  font-weight: bold;
  float: right;
  cursor: pointer;
}


.sort-form-label {
  color: #48A9E6;
}

.sort-form-option {
  color: #48A9E6;
  cursor: pointer;
}

.sort-form-select {
  color: #48A9E6;
}

.sort-form-option :hover {
  cursor: pointer !important;
}

.form-col {
  margin-top: auto;
  margin-left: auto;
}

.sort-form-btn {
  height: auto;
  width: auto;
}
