


<div
     class="alert alert-secondary mt-3 content-max-width">


  <p class="">Votre compte n'est pas encore validé</p>

  <a role="button" class="d-block"
     *ngIf="!newValidationMailSent"
     (click)="resendValidationMail()"
  >Recevoir un nouvel lien de validation ?</a>

  <div *ngIf="sendingNewValidationMailRequest">
    <i class="fas fa-spinner fa-spin fa-3x"></i>
  </div>

  <div *ngIf="newValidationMailSent"
       class="alert alert-success">
    Message envoyé. Vous pouvez vérifier vos courriels
  </div>


  <div *ngIf="newValidationMailUnauthorised"
       class="alert alert-danger">
    Une erreur inattendue est survenue. Si l'erreur persiste
    vous pouvez quitter le site et vous reconnecter de nouveau
  </div>


  <div *ngIf="newValidationMailMailException || newValidationMailUnattendedException"
       class="alert alert-danger">
    Une erreur inattendue est survenue. Si l'erreur persiste,
    vous pouvez contacter les administrateurs du site
  </div>


</div>
