<h1 class="page-title">Connexion</h1>

<div *ngIf="sendingRequest">
  <app-loading></app-loading>
</div>

<!-- authentication credentials not valid exception -->
<div class="alert alert-secondary"
     *ngIf="authenticationException">
  Une erreur s’est glissée dans votre adresse e-mail ou votre mot de passe ?
  <br>
  Ou ce ne sont peut-être pas les bons identifiants ?
</div>

<!-- authentication server exception -->
<div *ngIf="loginUnattendedException"
     class="alert alert-secondary">
  Une exception inattendue est survenue.<br>
  Vous pouvez contacter les administrateurs du site si le problème persiste
</div>


<!-- login successful -->
<div *ngIf="authentication"
     class="alert alert-success">
  Connexion réussie
</div>

<!-- login form start -->
<form
  [formGroup]="loginForm"
  (ngSubmit)="onLoginFormSubmit()"
  [hidden]="authentication || sendingRequest">

  <!-- email -->
  <div class="form-group">
    <label for="email">Adresse mail</label>
    <div class="input-group">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Votre adresse mail">
      <span class="input-group-append input-group-text">
     <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
    </div>

    <div *ngIf="email.touched && email.invalid " class="alert alert-info">
      <div *ngIf="email.errors.required">Merci de saisir votre adresse mail</div>
      <div *ngIf="email.errors.email">Merci de saisir une adresse mail valide</div>
    </div>

  </div>


  <!-- password -->
  <div class="form-group">
    <label for="password">Mot de passe</label>

    <div class="input-group">

      <input
        formControlName="password"
        [type]="passwordTextInput ? 'text' : 'password'"
        class="form-control"
        id="password"
        placeholder="Votre mot de passe">

      <span class="input-group-append input-group-text"
            (click)="togglePasswordTextInput()">
      <i
        class="fa"
        [ngClass]="{
          'fa-eye-slash': !passwordTextInput,
          'fa-eye': passwordTextInput
        }"
      ></i>
    </span>
    </div>

    <div *ngIf="password.touched && password.invalid " class="alert alert-info">
      <div *ngIf="password.errors.required">Merci de saisir le mot de passe.</div>
    </div>
  </div>

  <!-- submit button -->
  <div class="text-center">
    <button
      [title]="!loginForm.valid ? 'Formulaire incomplet' : ''"
      type="submit"
      class="btn btn-primary"
      [disabled]="!loginForm.valid">
      Valider
    </button>

  </div>

</form>

<!-- login form end -->

<!-- additional options-->
<div class=" "
     *ngIf="!authentication && !sendingRequest">

  <a class="text-info pr-5 pt-5 pb-5"
     (click)="togglePasswordResetEmailDisplay()"><b>Mot de passe oublié ?</b></a>
  <a class="text-info pr-5 pt-5 pb-5"
     routerLink="/inscription"><b>Inscription</b></a>
</div>


<!-- password reset email -->

<div *ngIf="showPasswordResetEmailForm && !authentication"
     [hidden]="sendingRequest">

  <h1 class="page-title">Récupération mot de passe</h1>

  <!-- success message -->
  <div *ngIf="passwordResetEmailSuccess"
       class="alert alert-success">
    Si vous avez un compte associé à cette adresse mail, vous recevrez bientôt
    un lien vous permettant de réinitialiser votre mot de passe. <br>
    Si vous ne trouverez pas le mail, vérifiez aussi le dossier des courriers indésirables/spam
  </div>


  <!-- request failed message -->
  <div
    *ngIf="passwordResetEmailInvalidRequest || passwordResetEmailUnattendedException || passwordResetEmailMessageException"
    class="alert alert-secondary">
    Une exception inattendue est survenue.<br>
    Vous pouvez contacter les administrateurs du site si le problème persiste
  </div>

  <!-- password reset form beginning -->
  <form
    [formGroup]="passwordResetEmailForm"
    (ngSubmit)="onPasswordResetFormSubmit()">

    <!-- email input -->
    <div class="form-group">

      <label for="resetEmail">Adresse mail</label>

      <div class="input-group">
        <input
          formControlName="resetEmail"
          type="email"
          class="form-control"
          id="resetEmail"
          placeholder="Votre adresse mail">
        <span class="input-group-append input-group-text">
     <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>


      </div>

      <div *ngIf="resetEmail.touched && resetEmail.invalid " class="alert alert-info">
        <div *ngIf="resetEmail.errors.required">Merci de saisir votre adresse mail</div>
        <div *ngIf="resetEmail.errors.email">Merci de saisir une adresse mail valide</div>
      </div>

    </div>

    <!-- submit button-->
    <div class="text-center p-3">
      <button
        [title]="!passwordResetEmailForm.valid ? 'Formulaire incomplet' : ''"
        type="submit"
        class="btn btn-primary"
        [disabled]="!passwordResetEmailForm.valid">
        Valider
      </button>
    </div>

  </form>
  <!-- password reset form end -->

</div>
