.right-link {
  display: inline-grid;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}



.success-comment-title, .success-comment-text{
  color: black;
  font-style: italic;
}


.success-comment-text{
  margin-left: 5px;
  margin-bottom: 1px;
  margin-top: 1px;
}


.success-comment-text{
  margin-left: 25px;

}





