<a class="right-link "
   *ngIf="parentCommentId === -99 && !success"
   [id]="componentId"
   (click)="displayCommentForm($event)"
   id="-99"
   [innerText]="displayedCommentId == -99 ? 'Annuler' : 'Laisser un commentaire'">
</a>


<a class="right-link "
   *ngIf="parentCommentId !== -99 && !success"
   [id]="componentId"

   (click)="displayCommentForm($event)"
   [innerText]="displayedCommentId == componentId ? 'Annuler' : 'Réagir'">
</a>


<div *ngIf="componentId == displayedCommentId">

  <!-- sending request-->
  <div *ngIf="sendingRequest" class="d-block">
    <i class="fas fa-spinner fa-spin fa-3x"></i>
  </div>


  <!-- comment sent -->
  <div *ngIf="success"
       class="alert alert-success ">
    Commentaire envoyé :
    <div class="text-left">
      <span class=" success-comment-title">{{commentTitle}}</span>
      <br><span class=" success-comment-text">{{commentText}}</span>
    </div>

    Il sera publié après modération
  </div>


  <!--  server exception -->
  <div *ngIf="unattendedException || notFoundException || invalidRequest"
       class="alert alert-secondary ">
    Une exception inattendue est survenue.<br>
    Vous pouvez contacter les administrateurs du site si le problème persiste
  </div>

  <!--  authentication exception -->
  <div *ngIf="authenticationException "
       class="alert alert-secondary">
    Une erreur d'authentification est survenue.<br>
    Vous pouvez essayer de vous déconnecter et reconnecter si l'erreur persiste
  </div>


  <div class="small outer-comment-card " *ngIf="dataReceived && !sendingRequest &&!success">


    <div class="inner-comment-card">

      <h4 class="" *ngIf="loggedIn && confirmedAccount">Exprimez-vous</h4>

      <div class="text-center"
           *ngIf="loggedIn && !confirmedAccount">
        <app-resend-validation-email></app-resend-validation-email>

      </div>


      <div class="text-center" *ngIf="!loggedIn">

        <button role="button" class="btn btn-primary"
           (click)="routing.goToLogin()">
          Pas encore connecté ?
        </button>

        <button role="button" class="btn btn-primary"
           (click)="routing.goToSignup()">
          Pas encore inscrit ?
        </button>

      </div>


      <form
        *ngIf="loggedIn && confirmedAccount"
        [formGroup]="form"
        (ngSubmit)="onFormSubmit()">


        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="title"
            formControlName="title"
            placeholder="Titre commentaire"
          >

          <div *ngIf="title.touched && title.invalid" class="alert alert-info">

            <div *ngIf="title.errors.required"> Merci de saisir le titre du commentaire</div>
            <div *ngIf="title.errors.minlength"> Le titre doit avoir minimum {{title.errors.minlength.requiredLength}}
              caractères
            </div>
            <div *ngIf="title.errors.maxlength"> Le titre peut avoir maximum {{title.errors.maxlength.requiredLength}}
              caractères
            </div>

          </div>


        </div>

        <div class="form-group">

    <textarea
      class="form-control"
      type="textarea"

      id="text"
      formControlName="text"
      placeholder="Votre commentaire"

    ></textarea>


          <div *ngIf="text.touched && text.invalid" class="alert alert-info">

            <div *ngIf="text.errors.required"> Merci de saisir votre commentaire</div>
            <div *ngIf="text.errors.minlength"> Le commentaire doit avoir
              minimum {{text.errors.minlength.requiredLength}}
              caractères
            </div>
            <div *ngIf="text.errors.maxlength"> Le commentaire peut avoir
              maximum {{text.errors.maxlength.requiredLength}}
              caractères
            </div>

          </div>

        </div>


        <div class="text-center p-3">
          <button
            [title]="!form.valid ? 'Formulaire incomplet' : ''"
            type="submit"
            class="btn btn-primary"
            [disabled]="!form.valid">
            Envoyer
          </button>
        </div>

      </form>

    </div>

  </div>


</div>
