<h1 class="page-title">Validation adresse mail</h1>

<div *ngIf="success" class="alert alert-success">
  Votre adresse mail a été validée<br>
  Vous pouvez maintenant profiter de toutes les fonctionnalités de votre compte
</div>


<div *ngIf="invalidToken">
  <div class="alert alert-secondary">
    Le lien utilisé est expiré ou a déjà été utilisé.<br>
    Vous pouvez demander un nouveau lien de validation
    en vous connectant:

    <div class="text-center">
      <button
        class="btn btn-primary mb-3 mt-3 "
        routerLink="/connexion">Connexion
      </button>
    </div>


  </div>
</div>

