<!-- display page while content loading-->
<app-loading [hidden]="webContents"></app-loading>

<!-- main title-->
<h1 class="page-title" [hidden]="!webContents">
  <span *ngIf="urlTypeTitle">{{urlTypeTitle}}  </span>
  <span *ngIf="urlCategoryTitle">{{urlCategoryTitle}}  </span>
  <span *ngIf="userPseudo">{{userPseudo}}  </span>
  <span *ngIf="urlSort">{{urlSort?.title}}</span>
</h1>

<!-- main title end-->


<!-- sort component-->
<app-visitor-sort-web-contents *ngIf="webContents"></app-visitor-sort-web-contents>
<!-- sort component end-->



<!-- displaying Web Contents main div -->
<div class="card text-center web-content-card-div"
     [hidden]="!webContents"
     *ngFor="let wc of webContents">

  <!-- web content secondary div-->
  <div class="card-body web-content-card-body-div">

    <!-- date div -->
    <div class="card-header web-content-card-header">

      <p class="web-content-publishing-date"
         *ngIf="urlSortId != 'edition-date-asc' && urlSortId != 'edition-date-desc'">
        publié le : {{wc?.publishingDate  |date:' dd/MM/yyyy'}}
      </p>

      <p class="web-content-edition-date" *ngIf="urlSortId == 'edition-date-asc' || urlSortId == 'edition-date-desc'">
        dernière modification : {{wc?.editionDate  |date:' dd/MM/yyyy'}}
      </p>

    </div>
    <!-- date div end-->

    <div
      class=" web-content-inner-html-div"
      [innerHTML]="wc?.htmlContent | safe: 'html'">
    </div>


    <button class="web-content-title-link-btn">
      <h5 class="web-content-title-link"
          (click)="routing.goToContent(wc?.versionId, wc?.title)"
      >Lire la suite </h5>
    </button>

  </div>

  <!-- web content secondary div end -->


  <!-- details div -->
  <div class="card-footer text-muted web-content-footer-div">

    <a class="web-content-footer-link"
       [id]="wc.versionId"
       [innerHTML]="detailsInnerHtml"
       (click)="toggleWebContentDetails( $event)">
    </a>

    <p class="web-content-footer-type">Type
      article:
      <a
        (click)="routing.goToType(wc?.type?.versionId, wc?.type?.title)">
        {{wc?.type?.title}}</a>
      ({{wc?.type?.totalPublishedWebContents}} publications)</p>

    <p  class="web-content-footer-editor">
      Éditeur:
      <a
        (click)="routing.goToUserContents(wc?.user?.id, wc?.user?.pseudo)"
      >{{wc?.user?.pseudo}}</a>
      <span [textContent]="wc?.user?.pseudo == 'anonyme'? ' '
      : ' ('+wc?.user?.totalWebContents+ ' publications)'"></span>
    </p>


    <div *ngIf="wc?.totalPublishedComments">
      <p
        class="web-content-footer-total-comments">{{wc?.totalPublishedComments}} commentaires</p>
    </div>


    <div *ngIf="wc?.categories"
         class="web-content-footer-categories-div">Catégories:
      <p *ngFor="let c of wc?.categories" class="web-content-footer-categories">
        <a
          (click)="routing.goToCategory(c?.versionId, c?.title)">{{c?.title}}</a> ({{c?.totalPublishedWebContents}})</p>
    </div>


  </div>

  <!-- details div end -->


</div>
