
.web-content-card-div {
  margin-bottom: 50px;;
}

.web-content-card-header {
  height: auto;
  width: auto;
  background-color: white !important;
  border: none !important;
  padding: 1px;
}

.web-content-publishing-date {
  float: right;
}


.web-content-edition-date {
  float: right;
}

.web-content-inner-html-div {
  width: auto;
  height: 150px;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

.web-content-title-link-btn {
  margin-top: 20px;
}

.web-content-title-link {
  text-align: center;
  color: #48A9E6;
  cursor: pointer;
  margin-top: 1px;
  margin-bottom: 1px;
}


.web-content-footer-div {
  background-color: white;
  border: none;
}

.web-content-footer-link {
  float: left;
  cursor: pointer;
}

.fa-loading-details {
  margin-left: 20px;
}


.web-content-footer-type,
.web-content-footer-editor,
.web-content-footer-total-comments,
.web-content-footer-categories-div {
  text-align: left;
  margin-left: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
}


.web-content-footer-categories {
  display: inline-block;
  text-align: left;
  margin-left: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
}






