
<!-- article details beginning-->

<div class="container" *ngIf="webContent">

  <div class="row mt-3">

    <!-- type -->
    <div class="col"><a
      (click)="routing.goToType(webContent?.type?.versionId, webContent?.type?.title)"
    >{{webContent?.type?.title}}</a></div>

    <!-- publishing date -->
    <div class="col text-right">Écrit le {{webContent?.publishingDate | date: ' dd/MM/yyyy'}} par
      <a
        (click)="routing.goToUserContents(webContent?.user?.id, webContent?.user?.pseudo)"
      >{{webContent?.user?.pseudo}}</a></div>

    <div class="w-100"></div>

    <!-- categories -->
    <div class="col"> Catégories : <span *ngFor="let cat of webContent?.categories">
    <a
      (click)="routing.goToCategory(cat?.versionId, cat?.title)"
    >{{cat?.title}}</a> &nbsp;</span></div>

    <!-- total comments -->
    <div class="col text-right"
         *ngIf="webContent?.acceptsComments">
      Commentaires : {{webContent?.totalPublishedComments}}</div>

  </div>

</div>

<!-- article details end-->


<!-- article html content beginning -->

    <div *ngIf="webContent?.htmlContent" [innerHTML]="webContent?.htmlContent | safe: 'html'"></div>

<!-- article html content end -->

<!-- Comments -->
  <app-comments *ngIf="webContent?.acceptsComments"
                [wcVersionId]="webContent?.versionId"
  ></app-comments>
