<div [hidden]="!user">

  <div *ngIf="user?.emailValidated"
       class="alert alert-success mt-3  content-max-width">
    Votre compte est validé
  </div>


  <app-resend-validation-email  *ngIf="!user?.emailValidated"></app-resend-validation-email>

  <h1 class="page-title">Compte de {{user?.firstName}} {{user?.lastName}} </h1>


  <div class="row">

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">

          <div class="card-text">Inscrit le : <span
            class="account-info">{{user?.signUpDate | date: ' dd/MM/yyyy'}} </span></div>


          <div class="card-text">
            <p>pseudo : <span class="account-info">{{user?.pseudo}}</span></p>
          </div>


          <div class="card-text">
            <p>Nom : <span class="account-info">{{user?.lastName}}</span></p>
          </div>


          <div class="card-text">
            <p>Prénom : <span class="account-info">{{user?.firstName}}</span></p>
          </div>

          <div class="card-text">
            <i class="far fa-newspaper fa-2x"></i>
            &nbsp;
            <span class="account-info" [textContent]="user?.getNewsletter ? 'Vous recevez le newsletter' :
         'Vous ne recevez pas le newsletter'"></span>
          </div>


          <div class="text-center m-3"
               (click)="displayModifyBaseInfo()">
            <a id="modifyBaseInfo"
               [innerText]="modifyBaseInfo ? 'Annuler ': 'Modifier'"
               class="btn btn-primary"></a>
          </div>

          <div *ngIf=" user && modifyBaseInfo" class="text-center">
            <app-base-info-form></app-base-info-form>
          </div>


        </div>
      </div>
    </div>


    <div class="col-sm-6">

      <div class="card">

        <div class="card-body">
          <p class="card-text"><i class="fas fa-envelope-open-text fa-2x"></i>&nbsp; {{user?.email}}</p>

          <div class="text-center m-3"
               (click)="displayModifyEmail()">
            <a id="modifyEmail"
               [innerText]="modifyEmailAddress ? 'Annuler ': 'Modifier'"
               class="btn btn-primary"></a>
          </div>

          <div *ngIf=" user && modifyEmailAddress" class="text-center">
            <app-modify-email-form></app-modify-email-form>
          </div>

        </div>

      </div>


    </div>


  </div>


</div>











