<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CMS</a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link"
           href="#">Accueil
          <span class="sr-only">(current)</span></a>
      </li>

      <!-- main navbar items retrieved from the database -->
      <li class="nav-item dropdown" *ngFor="let type of webContentTypesNavbarItems">
        <a [title]="type?.description"
           class="nav-link dropdown-toggle"
           id="navbarDropdown"
           role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          {{type?.title}}
        </a>

        <!-- sub items of the main navbar items, also retrieved from the database -->
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a title="Voir tout dans {{type?.title}}"
             data-toggle="collapse" data-target=".navbar-collapse.show"
             class="dropdown-item"
             (click)="routing.goToType(type?.versionId,type?.title)">Voir tout
          </a>
          <div class="dropdown-divider"></div>
          <a [title]="subType?.description"
             data-toggle="collapse" data-target=".navbar-collapse.show"
             class="dropdown-item"
             *ngFor="let subType of type?.childrenTypes"
             (click)="routing.goToType(subType?.versionId,subType?.title)"
          >{{subType?.title}}</a>
          <div class="dropdown-divider"></div>
        </div>

      </li>

      <!-- hard coded main navbar item that will recover sub items from the database -->
      <li class="nav-item dropdown" *ngIf="categories">
        <a title="Les différentes Catégories"
           class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Catégories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a [title]="cat?.description"
             data-toggle="collapse" data-target=".navbar-collapse.show"
             class="dropdown-item" *ngFor="let cat of categories"
             (click)="routing.goToCategory(cat?.versionId, cat?.title)">
            {{cat?.title}}</a>
        </div>
      </li>


      <li class="nav-item"
          [hidden]="sessionUser">
        <a class="nav-link"
           routerLink="/connexion"
           data-toggle="collapse" data-target=".navbar-collapse.show"
        >Connexion</a>
      </li>


      <li class="nav-item"
          [hidden]="sessionUser">
        <a class="nav-link"
           (click)="routing.goTo('inscription')"
           data-toggle="collapse" data-target=".navbar-collapse.show"
        >Inscription</a>
      </li>


      <li class="nav-item"
          [hidden]="!sessionUser">
        <a class="nav-link"
           (click)="routing.goTo('utilisateur/compte/'+sessionUser?.id)"
           data-toggle="collapse" data-target=".navbar-collapse.show"
        >Votre compte</a>
      </li>


      <li class="nav-item"
          [hidden]="!sessionUser">
        <a class="nav-link"
           (click)="tokenStorage.signOut()"
           data-toggle="collapse"
           data-target=".navbar-collapse.show"
        >Déconnexion</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2"
             type="search"
             placeholder="Recherche" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
    </form>
  </div>
</nav>
