/* You can add global styles to this file, and also import other style files */




html * {
  font-family: "Baskerville Old Face"
}

.alert-info{
  text-align: center;
  border: 1px solid #4285f4 !important;
}

.alert-success{
  text-align: center;
  width: max-content;
  margin: auto;
}

.alert-secondary{
  text-align: center;
  margin: auto;
}

.alert-danger{
  text-align: center;
  margin: auto;

}


/*
Keep the footer at the base of the page
 */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

/*
Keep the footer at the base of the page end
 */


a {
  cursor: pointer;
  color: #4285f4 !important;
}

a:hover {
  color: #48A9E6 !important;
  font-weight: bold !important;
}

.page-title{
  text-align: center;
  font-style: italic;
  padding: 15px;
  margin-top: 15px;
  color: gray;
}


.page-subtitle{
  text-align: center;
  font-style: italic;
  padding: 15px;
  margin-top: 15px;
  color: gray;
}

h4{
  text-align: center;
  font-style: italic;
  padding: 15px;
  margin-top: 15px;
  color: gray;
}


form{
  margin-top: 15px;
  margin-bottom: 15px;
}


.btn-primary {
  padding: 5px !important;
  margin: 10px !important;
}


/*
adapt div to its content
 */
.content-max-width{
  display: inline-block;
  width: max-content;
  margin: auto;
}

/*
place div content to right
 */
.text-right{
  text-align: right;
}

.outer-comment-card{
  margin: 5px;
  padding: 15px;
  align-content: end;
}

.inner-comment-card{
  border: 1px dotted #4285f4;
  margin: 5px;
  padding: 5px;
}


textarea {
  overflow: auto;
  min-height: 100px;
}

/*
responsive image
 */
img{
  max-width: 100%;
  height: auto;
}


