<body>
<section id="not-found">
  <div id="title">Simple Pure CSS3 &bull; 404 Error Page</div>
  <div class="circles">
    <p>404<br>
      <small>PAGE NOT FOUND</small>
    </p>
    <span class="circle big"></span>
    <span class="circle med"></span>
    <span class="circle small"></span>
  </div>
</section>

<div class="align-content-center">
  <a routerLink="/" class="btn btn-info"> Home</a>
</div>


</body>
