<!-- comments beginning-->


<div class="">

  <h2 class="page-subtitle">Commentaires</h2>

  <!-- submit parent comment -->
  <div class="text-right">
    <app-add-comment
      [parentCommentId]="-99"
      [componentId]="-99">
    </app-add-comment>

  </div>
  <!-- submit parent comment end-->

  <!-- display published comments beginning-->
  <div class="card web-content-comments-card" *ngFor="let c of comments">

    <div class="container card-header  web-content-comments-header">

      <!-- parent comment row-->
      <div class="row">

        <!-- parent comment-->
        <div class="col">
          <p class="comment-publisher">{{c?.user?.pseudo}}</p>
          <p class="comment-date">{{c?.publishingDate | date: ' dd/MM/yyyy'}}</p>
          <p class="comment-title">{{c?.title}}</p>
          <p class="comment-text">{{c?.text}}</p>
        </div>
        <!-- parent comment end-->

        <!-- new line -->
        <div class="w-100"></div>


        <!-- comment reactions-->
        <div *ngIf="c?.childrenComments?.length" class="col">

          <button class="btn-see-reactions"
                  *ngIf="c?.childrenComments?.length"
                  [value]="c?.id" (click)="displayReactions($event)">
            Afficher réactions
          </button>

          <div class=" children-comments-body hidden" [id]="c?.id">

            <div *ngFor="let cc of c?.childrenComments">
              <p class="comment-publisher">{{cc?.user?.pseudo}}</p>
              <p class="comment-date">{{cc?.publishingDate | date: ' dd/MM/yyyy'}}</p>
              <p class="comment-title">{{cc?.title}}</p>
              <p class="comment-text">{{cc?.text}}</p>
            </div>

          </div>

        </div>
        <!-- comment reactions end-->

        <!-- react -->
        <div class="col">


          <!-- submit reaction comment -->
          <div class="text-right">
            <app-add-comment
              [parentCommentId]="c?.id"
              [componentId]="c?.id">
            </app-add-comment>
          </div>
          <!-- submit reaction comment end-->

        </div>

        <!-- parent comment row end -->

      </div>

    </div>
  </div>
</div>
