.web-content-card{
  border: none ;
}


.web-content-comments-card {
  margin-bottom: 20px
}

.page-subtitle {
  color: #48A9E6 ;
}


.right-link {
  display: inline-grid;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}


.web-content-comments-header {
  background-color: white !important;
}


.comment-publisher {
  font-weight: bold;
  color: #48A9E6;
}

.comment-publisher,
.comment-date {
  display: inline;
  margin-left: 5px;
}

.comment-title {
  margin-left: 5px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.comment-text {
  margin-left: 25px;
  font-style: italic;
}

.btn-react, .btn-see-reactions {
  margin-left: 15px;
  margin-top: 2px;
  margin-bottom: 15px;
  background-color: white;
  max-height: 25px;
  display: block;
  border: 1px solid #48A9E6;
  color: #4285f4;
}

.btn-react:hover, .btn-see-reactions:hover {
  background-color: #4285f4;
  color: white;
}

.children-comments-body {
  margin-left: 60px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
