<h1 class="page-title">Inscription</h1>

<div *ngIf="sendingRequest">
  <app-loading></app-loading>
</div>


<!-- Success message-->
<div *ngIf="success"
     class=" alert alert-success ">
  Votre compte a été créé.<br>
  Vous recevrez un mail avec un lien qui vous permettra de finaliser votre inscription.<br>
  Si vous ne trouverez pas le mail, vérifiez aussi le dossier des courriels indésirables/spam"

  <div class="text-center p-3">
    <button
      class="btn btn-primary"
      routerLink="/connexion"
    >Connexion
    </button>
  </div>

</div>

<!--sending mail exception message-->
<div *ngIf="mailException"
     class="alert alert-secondary">
  Votre compte a été créé.<br>
  Toutefois, une erreur est intervenue lors de l'envoi du mail de confirmation<br>
  Vous pouvez vous connecter sur votre compte afin de demander l'envoi d'un un mail avec un lien qui vous permettra de
  finaliser votre inscription
</div>

<!--unattended exception message-->
<div *ngIf="unattendedException"
     class="alert alert-secondary">
  Une exception inattendue est survenue.<br>
  Vous pouvez contacter les administrateurs du site si le problème persiste
</div>

<!--invalid form exception message-->
<div *ngIf="invalidRequest"
     class="alert alert-secondary">
  Le contenu du formulaire n'est pas valide.<br>
  Vous pouvez contacter les administrateurs du site si le problème persiste
</div>


<!-- signup form begining-->
<form [formGroup]="form"
      (ngSubmit)="onFormSubmit()"
      *ngIf="!success &&
      !mailException &&
      !invalidRequest &&
      !sendingRequest">

  <!-- lastName input-->
  <div class="form-group">
    <label for="lastName">Nom</label>

    <input
      id="lastName"
      formControlName="lastName"
      class="form-control"
      placeholder="Votre nom">

    <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-info">

      <div *ngIf="lastName.errors.required">Merci de saisir votre nom</div>

      <div *ngIf="lastName.errors.firstOrLastNameMaxLength">
        Le nom peut avoir maximum {{lastName.errors.firstOrLastNameMaxLength.customFirstOrLastNameMaxLength}} caractères
      </div>

      <div *ngIf="lastName.errors.firstOrLastNameMinLength && ! lastName.errors.required">
        Le nom doit avoir minimum {{lastName.errors.firstOrLastNameMinLength.customFirstOrLastNamMinLength}} caractères
      </div>

      <div *ngIf="lastName.errors.pattern">
        Votre nom peut contenir seulement des mots composés par des lettres, <br>
        séparés par UN SEUL apostrophe ( ' ), par UN SEUL trait d'union ( - ) ou par des espaces<br>
        exemples: François, Da Silva, D'Artagnan, Marie-Pierre
      </div>

    </div>

  </div>

  <!-- firstName input-->
  <div class="form-group">
    <label for="firstName">Prénom</label>

    <input
      id="firstName"
      formControlName="firstName"
      class="form-control"
      placeholder="Votre prénom">

    <div *ngIf="firstName.touched && firstName.invalid" class="alert alert-info">

      <div *ngIf="firstName.errors.required">Merci de saisir votre prénom</div>

      <div *ngIf="firstName.errors.firstOrLastNameMaxLength">
        Le prénom peut avoir maximum {{firstName.errors.firstOrLastNameMaxLength.customFirstOrLastNameMaxLength}}
        caractères
      </div>

      <div *ngIf="firstName.errors.firstOrLastNameMinLength && !firstName.errors.required">
        Le prénom doit avoir minimum {{firstName.errors.firstOrLastNameMinLength.customFirstOrLastNamMinLength}}
        caractères
      </div>

      <div *ngIf="firstName.errors.pattern">
        Votre prénom peut contenir seulement des mots composés par des lettres, <br>
        séparés par UN SEUL apostrophe ( ' ), par UN SEUL trait d'union ( - ) ou par des espaces<br>
        exemples: François, Da Silva, D'Artagnan, Marie-Pierre
      </div>

    </div>

  </div>

  <!-- pseudo input-->
  <div class="form-group">
    <label for="pseudo">Pseudo</label>

    <input
      (ngModelChange)="actualisePseudoAvailability()"
      id="pseudo"
      formControlName="pseudo"
      class="form-control"
      placeholder="Votre pseudo">

    <div *ngIf="pseudo.touched && pseudo.invalid" class="alert alert-info">

      <div *ngIf="pseudo.errors.required">Merci de saisir votre pseudo</div>
      <div *ngIf="pseudo.errors.pseudoMaxLength">
        Le pseudo peut avoir maximum {{pseudo.errors.pseudoMaxLength.customPseudoMaxLength}} caractères
      </div>

      <div *ngIf="pseudo.errors.pseudoMinLength && !pseudo.errors.required">
        Le pseudo doit avoir minimum {{pseudo.errors.pseudoMinLength.customPseudoMinLength}} caractères
      </div>

      <div *ngIf="pseudo.errors.pattern">
        Le pseudo peut doit commencer par minimum 1 lettre et peut contenir des lettres sans accents <br>
        et des chiffres, séparés par une seule instance de -, . ou _ <br>
        exemples jean.jean, the_pseudo, pseudo-pse22
      </div>

    </div>

    <div *ngIf="unavailablePseudo"
         class="alert alert-info">Le pseudo '{{pseudo?.value}}' n'est pas disponible</div>
  </div>

  <!-- email input-->
  <div class="form-group">
    <label for="email">Adresse mail</label>

    <div class="input-group">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Votre adresse mail">
      <span class="input-group-append input-group-text">
     <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
    </div>
    <small id="emailHelp"
           class="form-text text-muted">
      Votre adresse mail ne sera pas partagée.</small>

    <div *ngIf="email.touched && email.invalid " class="alert alert-info">

      <div *ngIf="email.errors.required">Merci de saisir votre adresse mail</div>

      <div *ngIf="email.errors.email">Merci de saisir une adresse mail valide</div>

    </div>

  </div>


  <!-- password input -->
  <div class="form-group">
    <label for="password">Mot de passe</label>

    <div class="input-group">

      <input
        (keyup)="checkPasswordMatching()"
        formControlName="password"
        [type]="passwordTextInput ? 'text' : 'password'"
        class="form-control"
        id="password"
        placeholder="Votre mot de passe">

      <span class="input-group-append input-group-text"
            (click)="togglePasswordTextInput()">
      <i
        class="fa"
        [ngClass]="{
          'fa-eye-slash': !passwordTextInput,
          'fa-eye': passwordTextInput
        }"
      ></i>
    </span>
    </div>

    <div *ngIf="password.touched && password.invalid " class="alert alert-info">

      <div *ngIf="password.errors.required">Merci de saisir le mot de passe.</div>

      <div *ngIf="password.errors.minlength">Le mot de passe doit avoir
        minimum {{password.errors.minlength.requiredLength}} caractères
      </div>

      <div *ngIf="password.errors.maxlength">Le mot de passe peut avoir
        maximum {{password.errors.maxlength.requiredLength}} caractères
      </div>

    </div>

  </div>

  <!-- passwordConfirmation input-->
  <div class="form-group">
    <label for="passwordConfirmation">Confirmation mot de passe</label>

    <div class="input-group">

      <input
        (keyup)="checkPasswordMatching()"
        formControlName="passwordConfirmation"
        [type]="passwordConfirmationTextInput ? 'text' : 'password'"
        class="form-control"
        id="passwordConfirmation"
        placeholder="Confirmation mot de passe"
      >

      <span class="input-group-append input-group-text"
            (click)="togglePasswordConfirmationTextInput()">
      <i
        class="fa"
        [ngClass]="{
          'fa-eye-slash': !passwordConfirmationTextInput,
          'fa-eye': passwordConfirmationTextInput
        }"
      ></i>
    </span>
    </div>

    <div *ngIf="passwordConfirmation.touched && passwordConfirmation.invalid " class="alert alert-info">

      <div *ngIf="passwordConfirmation.errors.required">Merci de confirmer votre mot de passe.</div>

      <div *ngIf="passwordConfirmation.errors.minlength">Le mot de passe doit avoir
        minimum {{passwordConfirmation.errors.minlength.requiredLength}} caractères
      </div>

      <div *ngIf="passwordConfirmation.errors.maxlength">Le mot de passe peut avoir
        maximum {{passwordConfirmation.errors.maxlength.requiredLength}} caractères
      </div>

    </div>

    <div *ngIf="passwordMismatch"
         class="alert alert-info">Les deux mots de passe ne sont pas les mêmes
    </div>
  </div>

  <!-- getNewsletter input -->
  <label for="getNewsletter">Newsletter</label>
  <select class="form-control"
          id="getNewsletter"
          formControlName="getNewsletter">
    <option value="true">S'abonner à la newsletter</option>
    <option value="false">Ne pas s'abonner à la newsletter</option>
  </select>


  <div class="form-check mt-4 mb-3">

    <!-- legalMentions input-->
    <input type="checkbox"
           class="form-check-input"
           id="legalMentions"
           value="true"
           formControlName="legalMentions">

    <label class="form-check-label " for="legalMentions">
      En vous inscrivant sur ce site, vous vous engagez à respecter le règlement décrit dans la
          <a href="mentions-legales" target="_blank">
            <i> Charte d'utilisation</i>
          </a> du site</label>

  </div>

  <!-- submit button -->
  <div class="text-center">
    <button
      [title]="!form.valid ? 'Formulaire incomplet' : ''"

      type="submit"
      class="btn btn-primary submit-btn"
      [disabled]="!form.valid
            || passwordMismatch">
      Valider
    </button>

  </div>

</form>

<!-- signup form end-->

<div class="text-left ml-0 mt-3 mb-3"
*ngIf="!sendingRequest && !success">

  <button
    class="btn btn-secondary "
    routerLink="/connexion">Connexion
  </button>

</div>



